<% provide :title, t(".title_home") %>
<h1><%= t ".title"%></h1>
<p>
  <%= t ".content_first" %>
  <%= link_to "#{t ".text_link"}" , "http://www.railstutorial.org/" %>
  <%= t ".content_last" %>
</p>
